<%- include('header.ejs') %>
<%- include('nav.ejs') %>
    
    <!-- =============== Conteúdo ================== -->
    <div class="container mt-5 pt-5">
      <header class="text-center">
        <h1>Books Online<br>
          <small>Market Place de Livros <%=promo%></small>
        </h1>
      </header>
      <!-- =============== Formulário de Contato ================== --> 
      <h3 class="alert alert-info col-sm-6 mt-3 text-center mx-auto">Envie sua mensagem</h3>
      <div class="card container-fluid col-sm-6 p-3">
        <form action="" method="POST" class="container mt-2 mb-2">
          <div class="form-group">
            <label for="cad_nome">Nome</label>
            <input type="text" class="form-control" id="cad_nome" placeholder="Digite o seu nome aqui" name="cad_nome">
          </div>
          <div class="form-group">
            <label for="cad_sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="cad_sobrenome" placeholder="Digite o seu sobrenome aqui" name="cad_sobrenome">
          </div>
          <div class="form-group">
            <label for="cad_email">Email</label>
            <input type="email" class="form-control" id="cad_email"  name="cad_email" placeholder="Digite o seu email aqui">
          </div>        
          <div class="form-group">
            <label for="cad_mensagem">Mensagem</label>
            <textarea name="cad_mensagem" class="form-control" placeholder="Digite a sua mensagem aqui"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
      </div>
        <!-- =============== Fim de Contato================== -->
    </div>
    <!-- =============== Fim do Conteúdo ================== -->
  <script src="js/controle.js"></script>
<%- include('footer.ejs') %>