<%- include('header.ejs') %>
<%- include('nav.ejs') %>
    
    <!-- =============== Conteúdo ================== -->
    <div class="container mt-5 pt-5">
        <header class="text-center">
            <h1>Books Online
                <small>Market Place de Livros  </small>
            </h1>
        </header>
        <!-- =============== Login ================== -->
        <div class="row container-fluid mx-auto">
            <div class="col-sm-6 mx-auto">
                <div class="card container">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <form action="" method="POST" class="form">
                            <fieldset>
                            <legend>Faça seu Login</legend>
                                <ul class="list-unstyled mt-1">
                                    <li>
                                        <label class="mt-3">Email:</label>
                                        <input type="email" class="form-control" name="email" id="nome_login" required>
                                    </li>
                                    <li>
                                        <label class="mt-3">Senha:</label>
                                        <input type="password" class="form-control" name="senha" id="email_login" required>
                                    </li>
                                    <li>
                                        <button class="btn btn-info mt-3">Confirmar</button>
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============== Fim do Login ================== -->
    </div>
    <!-- =============== Fim do Conteúdo ================== -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<%- include('footer.ejs') %>